<template>
  <div class="row">
    <div style="text-align: center;margin-top: 30px;">
      <label class="label-heading" style="color: #000000">LOREM IPSUM</label>
    </div>
    <div style="margin-top: 30px; text-align: center;" class="mx-3">
      <div class="area-card" v-for="(item, index) in items" :key="index">
        <b-card class="b-card">
          <b-card :img-src="item.thumbnail" img-top img-height="200" style="border-color: transparent"></b-card>
          <b-card-text class="card-text" style="text-align: start;font-size: 10px">{{item.brand}}</b-card-text>
          <b-card-text class="card-text" style="text-align: start;font-size: 30px;font-weight: 1000">{{item.title}}</b-card-text>
          <b-card-text class="card-text" style="text-align: start; height: 100px ;font-size: 16px">{{item.description}}</b-card-text>
          <b-form-rating v-model="item.rating" variant="warning" class="mb-2" readonly no-border size="lg" precision="2"></b-form-rating>
          <b-card-text class="card-text" style="text-align: center;margin-top: 20px;font-size: 34px;font-weight: 1000">{{item.price}}$</b-card-text>
          <b-card-text class="card-text" style="text-align: end;font-size: 12px;font-weight: 100">stock {{item.stock}}</b-card-text>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "sectionThree",
  props:['items'],
}
</script>

<style scoped>
.label-heading{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 1000;
  font-size: 60px;
}
.b-card{
  border-radius: 10px;
  width: 100%;
  height: 630px;
  display: flex;
  align-items: center;

}
.area-card{
  display: inline-block;
  width: 25%;
  height: 480px;
  padding: 10px;
  margin: 10px;
}
.card-text{
  font-family: 'Montserrat';
}

</style>