<template>
  <div class="row" style="margin-top: 150px">
    <div class="col-6">
      <div class="left-side-top">
        <label class="label-heading" style="color: white">LOREM</label>
        <label class="label-heading" style="color: #D9EF0C ;margin-top: 80px">IPSUM</label>
      </div>
      <div class="left-side-bot">
        <label class="label-bot" style="font-weight:1000">Lorem Ipsum is simply Lorem Ipsum is simply Lorem Ipsum is simply</label>
      </div>
      <div class="left-side-bot">
        <label class="label-bot">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </label>
      </div>
    </div>
    <div class="col-6">
      <img :src="imgBicycle" height="300">
    </div>
  </div>
</template>

<script>
export default {
  name: "sectionOne",
  data() {
    return {
      imgBicycle : require("../assets/image/Bicycle.png")
    }
  }
}
</script>

<style scoped>
.label-heading{
  position: absolute;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 1000;
  font-size: 70px;
  width: 50%;
  text-shadow:0px 4px 30px #21612F;

}
.label-bot{
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 14px;
  color: white;
  width: 50%;
}
.left-side-top{
  display: flex;
  position: relative;
  margin-top: 30px;
  height: 200px;
  justify-content: end;

}
.left-side-bot{
  display: flex;
  position: relative;
  padding-top: 0;
  padding-left: 10px;
  height: 50px;
  justify-content: end;
}
img{
  margin-top: 3rem;
}
</style>