<template>
  <div class="row">
    <div class="imgBicycle col-6">
      <img :src="imgBicycle" height="300">
    </div>
    <div class="col-6" style="margin-top: 150px">
      <label class="text-header">ติดต่อเรา</label>
      <div class="row" style="padding-right: 15rem;margin-top: 2rem" >
        <div class="col-3"><label class="text-input">ชื่อ - นามสกุล</label></div>
        <div class="col-9"><input type="text" v-model="dataContact.name"></div>
        <div class="col-12 input-line mb-3"></div>

        <div class="col-3"><label class="text-input">เบอร์ติดต่อ</label></div>
        <div class="col-9"><input type="number" v-model="dataContact.phone"></div>
        <div class="col-12 input-line mb-3"></div>

        <div class="col-3"><label class="text-input" >อีเมล</label></div>
        <div class="col-9"><input type="text" v-model="dataContact.email"></div>
        <div class="col-12 input-line mb-3"></div>

        <div class="col-3"><label class="text-input">วันที่</label></div>
        <div class="col-9 datePickerDiv px-1">
          <date-picker  class="mx"
                        v-model="dataContact.date"
                        valueType="date"
                        format="DD-MM-YYYY"
                        style="width: 100%"
          ></date-picker>
        </div>
        <div class="col-12 input-line mb-3"></div>

        <div class="col-12 mt-3">
          <label class="text-input">Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy te</label>
        </div>

        <div class="col-12 mt-5">
          <button class="btn"><label class="text-btn">LOREM</label></button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
export default {
  components: { DatePicker },
  name: "sectionFour",
  data() {
    return {
      imgBicycle : require("../assets/image/Bicycle.png"),
      dataContact: {
        name: '',
        phone:'',
        email:'',
        date:''
      }
    }
  },
}
</script>

<style scoped>
.imgBicycle{
  text-align: end;
  margin-top: 200px;
  padding-right: 30px
}
.text-header{
  color:white;
  font-family: 'Prompt Medium';
  font-weight: 600;
  font-size: 60px;
}
.text-input{
  color: white;
  font-family: 'Prompt Light';
  font-size: 18px;
  margin-bottom: 10px;
  padding-left: 0;
  margin-left: 0;
}
.input-line{
  border-bottom: 1px solid white;
  margin-left: 10px;

}
input{
  background: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.datePickerDiv >>> input {
  color: white;
  background: transparent;
  border: none;
  font-family: 'Prompt Light';

}
.datePickerDiv >>> .mx-icon-calendar {
  color: white;
}
.datePickerDiv >>> .mx-icon-clear {
  color: white;
}
.text-btn{
  color: Black;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 1000;
  font-size: 22px;
}
.btn{
  background: linear-gradient(180deg, #DEE34B 0%, #D9EF0C 35.94%, #87A30D 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  border-radius: 50px;
  width: 300px;
  height: 60px;
}





</style>