<template>
  <div class="row">
    <div class="col-2">
      <button class="side-btn-left"><b-icon icon="arrow-left" font-scale="1.25"></b-icon></button>
    </div>
    <div class="col-8" style="text-align: center">
      <div style=" margin-top: 50px">
        <label class="label-heading" style="color: white">LOREM IPSUM</label>
        <label class="label-heading" style="color: #D9EF0C;margin-left: 6px">IPSUM</label>
      </div>
      <div style="text-align: center; margin-top: 100px">
        <img :src="imgPageTwo" height="200">
      </div>
      <div style="margin-top: 60px">
        <label class="text-top" style="color: white">Lorem Ipsum is simply</label>
      </div>
      <div style="margin-top: 20px">
        <label class="text-bot" style="color: white">{{text}}</label>
      </div>
    </div>
    <div class="col-2" style="text-align: end">
      <button class="side-btn-right"><b-icon icon="arrow-right" font-scale="1.25"></b-icon></button>
    </div>
  </div>
</template>

<script>
export default {
  name: "sectionTwo",
  data() {
    return {
      imgPageTwo : require("../assets/image/imagePageTwo.png"),
      text : 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.'
    }
  }
}
</script>

<style scoped>
.side-btn-left{
  margin-top: 325px;
  height: 50px;
  width: 50px;
  background-color: #C4C4C4;
}
.side-btn-right{
  margin-top: 325px;
  height: 50px;
  width: 50px;
  background-color: #D9EF0C;
}
.label-heading{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 1000;
  font-size: 50px;
}.text-top{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   font-size: 28px;
 }
.text-bot{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 100;
   font-size: 16px;
   width: 80%;
 }
</style>