<template>
  <div>
    <b-navbar type="black" variant="black" style="padding-left: 15%">
      <img :src="navbarLogo" height="40" style="margin-right: 10px">
      <b-navbar-brand href="#" style="margin-right: 5%">
        <span class="text-navbar" style="color: white;">LOREM</span>
        <span class="text-navbar" style="color: #D9EF0C;margin-left: 5px">IPSUM</span>
      </b-navbar-brand>
      <b-navbar-nav>
        <label class="navItem">LOREM</label>
        <select class="selectNav">
          <option class="dropdown"><label class="navItem">LOREM</label></option>
          <option class="dropdown"><label class="navItem">LOREM</label></option>
        </select>
        <label class="navItem">LOREMIPSUM</label>
        <label class="navItem">LOREMIPSUM</label>
        <label class="navItem">LOREM</label>
      </b-navbar-nav>
    </b-navbar>
    <div class="section-one">
      <section-one/>
    </div>
    <div class="section-two">
      <section-two/>
    </div>
    <div class="section-three">
      <section-three :items="item" />
    </div>
    <div class="section-four">
      <section-four/>
    </div>


  </div>
</template>

<script>
import sectionOne from "@/components/sectionOne";
import sectionTwo from "@/components/sectionTwo";
import sectionThree from "@/components/sectionThree";
import sectionFour from "@/components/sectionFour";
import api from "../src/API/api.js"
export default {
  name: 'App',
  components: {
    sectionOne,
    sectionTwo,
    sectionThree,
    sectionFour
  },
  data() {
    return {
      navbarLogo : require("./assets/image/navbarLogo.png"),
      item :[]
    }
  },
  mounted() {
    this.getDataInfo()
  },
  methods:{
    getDataInfo() {
      api.getData().then((resp) => {
        this.item = resp.products
      });
    },
  }
}
</script>

<style>
html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.text-navbar{
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-size: 22px;
  text-shadow:0px 4px 30px #21612F;
}
.navItem{
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-right: 30px;
  margin-top: 3px;
}

select{
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  background: transparent;
  border: none;
}
select option{
  background: black;
}
.selectNav{
  margin-right: 30px;
  margin-top: 0;
  padding: 0;
}

.section-one{
  height: 700px;
  background-color: #000000;
  border-style: solid;
  border-color: #000000
}
.section-two{
  height: 900px;
  background-color: #000000;
  border-style: solid;
  border-color: #000000
}
.section-three{
  height: 900px;
  background-color: #D9EF0C;
  border-style: solid;
  border-color: #D9EF0C
}
.section-four{
  height: 800px;
  background-color: #000000;
  border-style: solid;
  border-color: #000000
}


</style>
